name: Integration
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  sanity:
    uses: ansible-network/github_actions/.github/workflows/integration.yml@main
    with:
      network_os: cisco.nxos.nxos
